$PRIMARY: "Rubik", sans-serif;
$SECONDARY: "Nunito", sans-serif;

$PRIMARY_LIGHT: 300;
$PRIMARY_REGULAR: 400;
$PRIMARY_MEDIUM: 500;
$PRIMARY_BOLD: 700;

$SECONDARY_EXTRA_LIGHT: 200;
$SECONDARY_LIGHT: 300;
$SECONDARY_REGULAR: 400;
$SECONDARY_SEMI_BOLD: 600;
$SECONDARY_BOLD: 700;
$SECONDARY_EXTRA_BOLD: 800;
$SECONDARY_EXTRA_BLACK: 900;

$TRANSITION_SPEED: all 0.3s;
